/* Your styles here */
body {
;
}
header {
    text-align: left;
    margin: 0;
    background-position: center;
    background-color: black;
    padding: 1em;
}

#titolo {
    background-image: url(.//images/banner.jpg);
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 20%;
    padding: 10em;

}

#web {
    text-align: center;
    line-height: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(59, 152, 245);
    padding: 2em;
}

#siparte {
    text-align: center;
    background-color: rgb(243, 97, 19);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-radius: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    font-size: small;
}

.centro p {
    text-align: justify;
    padding: 10px;
    padding-left: 30%;
}

.foto p {
    text-align: center;
}
.blue {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: rgb(59, 152, 245); ;
}

p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5em;
}

.tonde {
    border-radius: 50%;
    width: 300px;
    float: left;
}


#rosso {
    background-color: rgb(243, 97, 19);
    padding: 1em;
    text-align: center;
}

#epicode {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
}

#corsivo {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: small;
    text-align: center;
    padding-right: 30%;
}
#mario {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-right: 30%;
}
#ceo {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    text-align: center;
    padding-right: 30%;
}
#garantisce {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-right: 30%;
}
#foto {
    text-align: center;
    display: flex;
}
.paragrafi1 img {
    width: 100%;
    float: left;
}
.paragrafi2  img{
    width: 95%;
    text-align: center;
    margin: 1px;
    
}
.paragrafi3 img {
    width: 100%;
    float: right;
}        
.paragrafi {
    border: 1px solid rgba(185, 184, 184, 0.895);
    margin: 53px;
   
}
footer {
    background-color: rgb(59, 152, 245);
    color: white;
    padding: 5%;
}
footer {
    text-decoration: none white;
}

.link {
   color: white; 
}
.font { 
    font-family: "Montserrat", sans-serif;
    font-size: small;
}
hr {
    border: 1px solid white;
    margin-left: 25%;
    margin-right: 25%;
}
#copy {
    font-size: smaller;
}